html, body {
  margin:0;
  min-width:100%;
  min-height: 100%;
  /* overflow:scroll; */
  /* overflow-y:visible; */
  overflow-x: hidden;
  /* overflow:scroll; */
  font-family: 'Signika';
}

.page-wrap {
  min-height: 900px;
  /* margin-bottom: 260px; */
}
